/* Region Debug */
/* 
.debug header {
    height: 80px;
} */

.debug main {
    min-height: 3000px;   
}

.debug footer {
    height: 100px;
    background-color: var(--lay-dark);
}

/* #end Region Debug */


/* Region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lay-dark: #323333;
    --lay-primary: #0084fd;
    --lay-blu: #b5ddff; 
    --lay-violet: #9792e4;
    --lay-white: #ffffff; 
    --lay-yellow: #fdc15f;
    --lay-white: #ffffff;
    --lay-gray:#607587;
}

body {
    font-family: 'Nunito Sans', sans-serif;    
}
/*End Region Common */

/* #Region Utility */

.container {
    width: 80%;
    max-width: 1176px;
    margin: auto;
}


.container-sm {
    width: 80%;
    max-width: 500px;
    margin: auto;
}

.row {
    margin: 0 -1rem;
    padding: 1rem;
    gap: 1rem;
}



[class^="col-"] {
    padding-left: 1rem;
    padding-right: 1rem;
}

.col-12 {
    width: 100%;
    background-color: var(--lay-blu);
    border-radius: 1rem;
    padding-top: 2rem;
    line-height: 2rem;
}


.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.text-align-center {
    text-align: center;
}

ul {
    list-style: none;
    gap: 1.5rem;
    
    & a {
        text-decoration: none;
        color: var(--lay-white);
    }
}


.align-items-center {
    align-items: center;
}

/*Region Buttons */
.btn {
    display: inline-block;
    border: none;
    background-color: transparent;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
            
}

.btn-white {
    background-color: var(--lay-white);
    color: var(--lay-violet);
    margin-bottom: 2rem;
}

.btn-violet {
    background-color: var(--lay-violet);
    color: var(--lay-white);   
}

.btn-primary {
    background-color: var(--lay-primary);
    color: var(--lay-white);
    letter-spacing: 0.25rem;
    font-weight: 700;
   
}

.btn-circle {
    background-color: var(--lay-violet);
    color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/* Region Header */

header {
    background-color: var(--lay-primary);
    padding: 0.75rem;
}


.hamburger i {
    font-size: 1.5rem;
    color: var(--lay-white);
}

/* End Region Header */

/*Start Region Features */

.feautures .container {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    
}

.application p {
    color: var(--lay-gray);
    font-weight: 900;
    line-height: 1.5rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.phone-img img {
    max-width: 100%;
}

.application h3 {
    color: var(--lay-primary);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;    
}

#stylize {
    font-size: 5.5rem;
    color: var(--lay-primary);      
}

.feautures-title {
    margin: 1.5rem;
}

.feautures-title h3 {
    color: var(--lay-primary);
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.feautures-title p {
    color: var(--lay-gray);
    font-weight: 900;
}



/* #region Planning */

.strategic img {
    max-width: 100%;
}

.planning {
    background-color: var(--lay-violet);
}

.planning .col-12 {
    background-color: var(--lay-violet);
    color: var(--lay-white);
    text-align: left;  
}

.develop img {
    max-width: 100%;
}

.develop {
    background-color: var(--lay-white);
    color: black;
    border-radius: 3rem;
    text-align: center;
    padding: 2rem;   
}

.develop h2 {
    font-weight: 900;
    margin-bottom: 1.5rem;
}
.develop p {
    font-style: oblique;
    font-weight: 900;
    margin-bottom: 2rem;
}

.strategic-content h2 {
    font-size: 2rem;
    font-weight: 900;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
/* #endregion Plannning

/* Region Testimonials */

.text-testimonials {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

.text-testimonials h4 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.3rem;
    margin: 2rem;
}

.text-testimonials h2 {
    font-size: 2rem;
    color: var(--lay-violet);
    font-weight: 900;
    margin-bottom: 2rem;
    line-height: 2.5rem;
}

.box-testimonials span {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
    
}


.box-photo img {
    width: 150px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
}


.testimonials .cards {
    background-color: var(--lay-violet);
    color: var(--lay-white);
    text-align: center;
    border-radius: 3rem;
    padding: 1rem;
    margin: 1.5rem;
    align-items: center;
}

.box-testimonials h4 {
    color: var(--lay-white);
    text-transform: uppercase;
    margin-top: 1rem;
}

.box-testimonials p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--lay-white);
}

/* endregion Testimonials */

/* Region Benefits */

.benefits {
    background-color: var(--lay-violet);
    color: var(--lay-white);    
}

.benefits-title h1 {
    margin: 2rem;
    text-align: center;
    font-weight: 900;
}

.benefits .col-12 {
    background-color: var(--lay-white);
    color: var(--lay-violet);
    padding: 2rem 2rem;
    margin-bottom: 2rem;    
}

.benefits p {
    color: var(--lay-gray);
    margin-bottom: 1.5rem;
}

.benefits-text h2 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.benefits h4 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

/* #endregion Benefits */

/*Region About Us */
.aboutus .col-12{
    background-color: var(--lay-white);
    line-height: 2rem;
}

#aboutus-text h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--lay-violet);
    margin-bottom: 2rem;
}

#aboutus-text p {
    font-weight: 800;
    font-style: italic;
    margin-bottom: 2rem;
    
}

.box-text-aboutus p {
    font-size: 1rem;
    color: var(--lay-white);
    line-height: 2rem;
    margin-bottom: 1.5rem;
}

#look {
    background-color: #607587;
    display: flex;
    flex-direction: row-reverse;        
}

#look span {
    font-size: 4rem;
    color: var(--lay-violet);   
}

.aboutus .box-photo {
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.box-text-aboutus {
    margin-bottom: 3rem;
    
    & p {
        color: var(--lay-violet);
        font-size: 2rem;
    }
}



/*#endregion About Us */

/*Region Get Started */

.get-started {
    background-color: var(--lay-violet);
    padding-bottom: 3rem;
}

.get-started h4 {
    color: var(--lay-white);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

.get-started h2 {
    color: var(--lay-white);
    font-size: 2rem;
    padding-bottom: 2rem;
}

.get-started h1 {
    color: var(--lay-yellow);
    font-size: 3.5rem;
    font-weight: 900;
    padding-bottom: 2rem;
}

.get-started p {
    color: var(--lay-white);
    line-height: 1.5rem;
    padding-bottom: 2rem;
}

.get-started span {
    color: var(--lay-white);
    line-height: 1.5rem;
    
}

/* #endregion Get Started */

/*Region Footeer */

#site_footer {
    background-color: var(--lay-dark);
    color: var(--lay-white);
}

.bottom-footer a {
    color: var(--lay-violet);
    text-decoration: underline;  
}
.top-footer {
    padding: 2rem;
}


/* /*Region Solution Media Query */ 



@media screen and (min-width: 768px) {

    .col-md-8 {
        width: calc((100% / 12) * 8);
            
    }

    .col-md-7 {
        width: calc((100% / 12) * 7);
    }
    
    .col-md-6  {
        width: 50%;
    }

    .col-md-5 {
        width: calc((100% / 12) * 5);
    }

    .col-md-4 {
        width: calc((100% / 12 ) * 4);   
    }

    .col-md-12 {
        width: 100%;
    }

    .cards .col-12 {
        display: flex;
        align-items: center;
        padding-top: 1rem 1rem;
        text-align: justify;     
    }
    
}

@media screen and (max-width: 1024px) {
    .rigth-menu {
        display: none;
    }    
}


@media screen and (min-width: 1024px) {
    
    .col-lg-6 {
        width: 50%
    }

    .col-lg-4 {
        width: calc((100% /12) * 4);
    }

    .col-lg-8 {
        width: calc((100% / 12) * 8);
    }

    .hamburger {
        display: none;
    }

    .rigth-menu {
        display: flex;
        
    }
}
    
