/* Region Debug */
/* 
.debug header {
    height: 80px;
} */

.debug main {
    min-height: 3000px;   
}

.debug footer {
    height: 100px;
    background-color: var(--lay-dark);
}

/* #end Region Debug */


/* Region Common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lay-dark: #333333;
    --lay-primary: #0084fd;
    --lay-blu: #b5ddff; 
    --lay-violet: #9792e4;
    --lay-white: #ffffff; 
    --lay-yellow: #fdc15f;
    --lay-white: #ffffff;
    --lay-gray:#607587;
}

body {
    font-family: 'Nunito Sans', sans-serif;    
}
/*End Region Common */

/* #Region Utility */

.container {
    width: 80%;
    max-width: 1176px;
    margin: auto;
}

.row {
    margin: 0 -1rem;
    padding: 1rem;
    gap: 1rem;
}



[class^="col-"] {
    padding-left: 1rem;
    padding-right: 1rem;
}

.col-12 {
    width: 100%;
    background-color: var(--lay-blu);
    border-radius: 1rem;
    padding-top: 2rem;
    line-height: 2rem;
}


.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.text-align-center {
    text-align: center;
}

ul {
    list-style: none;
    gap: 1.5rem;
    
}
a {
    text-decoration: none;
    color: var(--lay-white);
    font-size: 1rem;    
}


.align-items-center {
    align-items: center;
}

/*Region Buttons */
.btn {
    display: inline-block;
    border: none;
    background-color: transparent;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    text-decoration: none;
        
}

.btn-white {
    background-color: var(--lay-white);
    color: var(--lay-dark);
}

.btn-violet {
    background-color: var(--lay-violet);
    color: var(--lay-white);    
}

.btn-primary {
    background-color: var(--lay-primary);
    color: var(--lay-white);
    letter-spacing: 0.25rem;
    font-weight: 700;
}

.btn-circle {
    background-color: var(--lay-violet);
    color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/* Region Header */

header {
    background-color: var(--lay-primary);
    padding: 0.75rem;
}

/* End Region Header */

/*Start Region Features */

.feautures p {
    color: var(--lay-gray);
    font-weight: 700;
}

.application {
    text-align: left;
    line-height: 2rem;
}

.phone-img img {
    max-width: 100%;
}

h3 {
    color: var(--lay-primary);
    font-size: 1.5rem;
    text-align: center;
    margin: 1.5rem;
}

#stylize {
    font-size: 5rem;
    color: var(--lay-primary);
}

/* #region Planning */

.strategic img {
    max-width: 100%;
}

.planning {
    background-color: var(--lay-violet);
}

.planning .col-12 {
    background-color: var(--lay-violet);
    color: var(--lay-white);
    text-align: left;  
}

.develop img {
    max-width: 100%;
}

.develop {
    background-color: var(--lay-white);
    color: black;
    border-radius: 3rem;
    text-align: center;   
}

/* #endregion Plannning

/* Region Testimonials */

.text-testimonials {
    margin-top: 2rem;
    line-height: 1.5rem;
}

.text-testimonials h4 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.3rem;
}

.text-testimonials h2 {
    font-size: 2rem;
    color: var(--lay-violet);
    font-weight: 900;
}

.box-photo {
    width: 10rem;
    height: 10rem;
    margin: auto;  
}

.box-photo img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.cards .col-12 {
    background-color: var(--lay-violet);
    color: var(--lay-white);
    text-align: center;
    border-radius: 3rem;
    margin: 2rem;
}

.box-text-testimonials h4 {
    color: var(--lay-white);
    text-transform: uppercase;
}

/* endregion Testimonials */

/* /*Region Solution Media Query */ 



@media screen and (min-width: 768px) {

     #site_header {
        width: 100%;
    }
   
    .container {
        width: 100%;
    }

    .col-md-8 {
        width: calc((100% / 12) * 8);
        background-color: var(--lay-blu);  
    }
    
    .col-md-4 {
        width: calc((100% / 12 ) * 4);
        background-color: var(--lay-blu);
    }

    .col-md-12 {
        width: 100%;
    }

    .cards .col-12 {
        display: flex;
        align-items: center;
        padding-top: 1rem 1rem;
        text-align: justify;     
    }

    
}

@media screen and (max-width: 1024px) {
    .rigth-menu {
        display: none;
    }
    
}

@media screen and (min-width: 1023px) {
    .hamburger {
        display: none;
    }
}


@media screen and (min-width: 1024px) {
    
    .col-lg-6 {
        width: calc((100% / 12) * 6);
    }

    .col-lg-4 {
        width: calc((100% /12) * 4);
    }

    .col-lg-8 {
        width: calc((100% / 12) * 8);
    }
}
    
